<h1>Editing Showingseatallocation</h1>

<%= render 'form', showingseatallocation: @showingseatallocation %>
<br>
<%= link_to 'Show', @showingseatallocation, :class => "link"  %> |
<%= link_to 'Back', showingseatallocations_path, :class => "link"  %>
