<h1>Editing Showingseatallocation</h1>

<%= render 'form', showingseatallocation: @showingseatallocation %>

<%= link_to 'Show', @showingseatallocation %> |
<%= link_to 'Back', showingseatallocations_path %>
