<h1>Editing Subscription</h1>

<%= render 'form', subscription: @subscription %>
<br>
<%= link_to 'Show', @subscription, :class => "link"  %> |
<%= link_to 'Back', subscriptions_path, :class => "link"  %>
