<h1>Editing Bookingshowing</h1>

<%= render 'form', bookingshowing: @bookingshowing %>
<br>
<%= link_to 'Show', @bookingshowing, :class => "link"  %> |
<%= link_to 'Back', bookingshowings_path, :class => "link"  %>
